.about{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.about .MuiTypography-root{
    font-family: fantasy;
}

.about nav{
    opacity: 1;
}

.about main{
    display: flex;
    flex: 1;
    padding: 2% 5% 0;
    flex-wrap: wrap;
}

.about main .left,
.about main .right {
    flex: 1
}

.about main .left .cards{
    margin: 12px 0;

 }



.about main .right{
    display: flex;
    flex-direction: column;  
    text-align: center; 
    flex: 1
 }
 .about main .right #pieContainer{
    width: 90%;
    align-self: flex-end;
 }

 
.about li{
    text-indent: 1em;
}

