.contact{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.contact .MuiTypography-root{
    font-family: fantasy;
}

.contact nav{
    position: static;
    opacity: 1;
}

.contact main{
    flex: 1;
    display: flex;
    padding: 0 5%;
    flex-wrap: wrap;
}


.contact main .left{
    flex: 2;
}

.contact main .left .MuiCard-root{
    opacity: .9;
}

.contact main .left .textFields{
    display: flex;
    flex-direction: column;
}


.contact main .left .MuiCard-root .MuiCardActions-root{
    justify-content: flex-end;
}

.contact main .left .textFields > .MuiTextField-root{
    margin: 12px 0
}

.contact main .right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5%;

}

.contact main .right .MuiTypography-root{
   text-align: center;
}

.contact main .right footer .top{
    flex-direction: column;
}

#emailConfirmationModal{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: fantasy;
}

#emailConfirmationModal .MuiCard-root{
    max-width: 500px;
    width: 100%;
    max-height: 500px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#emailConfirmationModal .MuiCard-root.open{
    animation: zoom .5s linear alternate;

}

#emailConfirmationModal .MuiCard-root .MuiCardContent-root{
    text-align: center;
    font-size: 5em;
}

#emailConfirmationModal .MuiCard-root .MuiSvgIcon-root{
    font-size: 1em;
}

#emailConfirmationModal .MuiCard-root .MuiTypography-root{
    font-size: 1em;
    text-align: center;
}

@keyframes zoom {
    0%{
        transform: scale(1)

    }
    10%{
        transform: scale(.5)

    }
    20%{
        transform: scale(.3)

    }
    30%{
        transform: scale(.2)

    }
    40%{
        transform: scale(.5)

    }
    50%{
        transform: scale(.7)

    }
    60%{
        transform: scale(1)
        
    }
    70%{
        transform: scale(1.2)

    }
    80%{
        transform: scale(1.5)
        
    }
    100%{
        transform: scale(1)
    }
}