
.MuiSnackbar-root{
    animation: breathe 1s infinite alternate;
}

.MuiSnackbar-root:hover{
    opacity: 1;
}
.MuiSnackbar-root .MuiSnackbarContent-root{
    
}

@keyframes breathe {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}