.app{
  min-height: 100%; 
}

.app .MuiTypography-root{
  font-family: fantasy;
}

.app .intro{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.app .intro .MuiTypography-root#outer{
  max-width: fit-content;
	overflow: hidden;
  white-space: nowrap;
  animation: type 3s steps(50) forwards, blink 1s infinite;
  border-right: 1px solid orange;
}

.app .intro .MuiButton-root{
  margin-top: 5em
}

.app .cubeContainer{
  font-size: 5em;
  height: 100vh;
}

@media screen and (max-width: 1400px){
  .app .intro .MuiTypography-root#outer{
    white-space: normal;
  }
}