.cube{
    position: relative;
    font-size: 1.3em;
    width: 2em;
    height: 2em;
    top: 50%;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%) perspective(1000px);
    transform-origin:50% -25%
}

.cube .panel{
    background-color:green;
    width: 2em;
    height: 2em;
    position: absolute;
    background: rgb(61,71,71);
    background: linear-gradient(0deg, rgba(36,149,208,1) 0%,  rgba(61,71,71,1) 100%);
    border: grey 1px solid;
}

.cube .panel .MuiTypography-root{
    font-size: .3em;
    cursor: pointer;
    width: fit-content;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* open */
.cube.open{
    transform: rotate(45deg);
    transition: 1s ease-in 2.5s; 
}
.cube.open .panel.bottom{
    transform-origin: bottom;
    animation: openDown .5s forwards;
}

.cube.open .panel.right{
    transform-origin: right;
    animation: openRight .5s forwards;
    animation-delay: 2s;
}

.cube.open .panel.left{
    transform-origin: left;
    animation: openLeft .5s forwards;
    animation-delay: 1s;
}

.cube.open .panel.top{
    transform-origin: top;
    animation: openTop .5s forwards;
    animation-delay: 1.5s;
}


.cube.open .panel.bottom .MuiTypography-root{
    transform: rotateX(180deg) rotateZ(-45deg);
    transform-origin: 65%;
    transition: all 1s;
    animation: showText 1s forwards;
    opacity: 0;
}

.cube.open .panel.right .MuiTypography-root{
    transform: rotateY(180deg)  rotateZ(-45deg) translate(10%, -20%);
    animation: showText 1s forwards 2s;
    opacity: 0;
}

.cube.open .panel.left .MuiTypography-root{
    transform: rotateY(180deg)  rotateZ(-45deg);
    transform-origin: 30%;
    margin-right: 0;
    animation: showText 1s forwards 1s;
    opacity: 0;
}

.cube.open .panel.top .MuiTypography-root{
    transform: rotateX(180deg)  rotateZ(-45deg);
    transform-origin: 70%;
    animation: showText 1s forwards 1.5s;
    opacity: 0;
}

.cube.open .panel.middle .MuiTypography-root{
    transform:  rotateZ(-45deg);
    transform-origin: 25%
}


/* key frames */
@keyframes openDown {
    to{
        transform: rotateX(-180deg);
    }
}

@keyframes openRight {
    to{
        transform: rotateY(180deg);
        opacity: 1;
    }
}

@keyframes openLeft {
    to{
        transform: rotateY(-180deg);
    }
}

@keyframes openTop {
    to{
        transform: rotateX(180deg);
    }
}

@keyframes showText {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
