.footer .top{
 text-align: center;
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 padding: 24px
}

.footer .top .nameContainer{
    display: inline;
    font-size: 1em;
}

.footer .top .nameContainer .MuiTypography-root{
    font-size: 2em;
}

.footer .top .socialLinks .MuiIconButton-root svg{
    font-size: 2em;
}

.footer #copyright{
    font-size: .7em;
    text-align: center;
    padding: 12px
}