.landing{
  min-height: 100%; 
}

.landing .MuiTypography-root{
  font-family: fantasy;
}

.landing .intro{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.landing .intro .MuiTypography-root#outer{
  max-width: fit-content;
	overflow: hidden;
  white-space: nowrap;
  animation: type 3s steps(50) forwards, blink 1s infinite;
  border-right: 1px solid orange;  
}

.landing .intro .MuiButton-root{
  margin-top: 5em
}

.landing .projectsList{
  min-height: 100vh;
  padding:0 5%
}
.landing .projectsList div:first-of-type{
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: space-evenly;
}

.landing .maintenance{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background-color: black;
overflow: hidden;
background-image: linear-gradient(45deg, rgb(243, 166, 23) 25%, transparent 25%, transparent 50%, rgb(243, 166, 23) 50%, rgb(243, 166, 23) 75%, transparent 75%, rgb(0,0,0));
}


@media screen and (max-width: 1400px){
  .landing .intro .MuiTypography-root#outer{
    white-space: normal;
  }
}

