.project2{
    min-height: 100vh;
    display: flex;
    padding: 0 5%;
    flex-wrap: wrap-reverse;
}

.project2 .right{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    padding-left:5%;
}

.project2 .right .MuiDivider-root{
    align-items: flex-start;

}
.project2 .right .MuiTypography-root{
    text-align: center;
    margin: 12px 0
}


.project2 .right #title::after{
    content: 'Nissan';
    text-shadow: 0px 12px 10px rgba(0, 0, 0, .3);
    display: block;
    color: rgba(0,0,0,.1);
    transform-style: preserve-3d;
    transform:translateY(-60%) rotate3d(1, 0, 0, 145deg) scale(1, 3) rotateX(90deg) ;
    margin-top: 24px
}


.project2 .right .projectLinks{
    position: relative;
    bottom: 10%;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.project2 .right .techUsed{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    width: 100%;
}

.project2 .right .techUsed .MuiButton-root{
    margin: 12px 0;
}


.project2 .left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.project2 video{
    min-width: 400px;
    width: 100%
}